<% content_for :title do  %>
  Settings
<% end %>

<% content_for :head_content do  %>
  <%= stylesheet_link_tag 'settings/index.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1 align="center">Settings</h1>

<div class="container">
  <div class="row align-items-center justify-content-around">
      <%= link_to "Categories", categories_path, class: "btn btn-success link-btn col-sm col-md-5"  %>
      <%= link_to "Tags", tags_path, class: "btn btn-success link-btn col-sm col-md-5"  %>

    </div>
  </div>
</div>